ADMIN_USERNAME: superadmin
ADMIN_EMAIL: superadmin@delvo.com
ADMIN_PASSWORD: "321321321"
GMAIL_USERNAME: test@example.com
GMAIL_PASSWORD: test123456
AUTHORIZATION: "Basic NDlhMmRiZTExN2E0NDdjZWFmYjhiOTZiNTIwMTE2ZTY6ZDYzODQ0YjU2MDE3NDI4NjlhODQwNzRhYWZmNGNiNjY="
STRIPE_PUBLISHABLE_KEY: "pk_test_dsfdsfU"
STRIPE_SECRET_KEY: "sk_test_dsfdsfdsYnC6y"
TRIAL_PERIOD_DAYS: "30"
UFONE_BSMS_API_PASSWORD: "ufone@test"
UFONE_BSMS_API_ID: "03328771309"
